/* app css stylesheet */

html{

}
body{
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #080F22;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;

}
.title{
    color: #FFCC33;
    font-weight: 900;
}
.sub-title{
    color: #723D53;
    font-weight: bold;
}
h1{
    font-weight: 900;
}
.my-label{
    color: #0C2366;
    font-weight: 300;
}
.route-title{
    font-weight: 900;
}