<div class="row">
    <div class="col-sm-12">
        <h5>Guiarme por una nueva Experiencia <i class="fa fa-location-arrow"></i></h5>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-xs-3">Segmento</div>
    <div class="col-xs-5">
        <i class="fa fa-users"></i> <select name="segment" id="segment" ng-options="item.name for item in segments" ng-model="segment"></select>
    </div>
</div><br/>
<div class="row">
    <div class="col-xs-3">Tema</div>
    <div class="col-xs-5">
        <i class="fa fa-cubes"></i> <select name="topic" id="topic" ng-options="item.name for item in topics" ng-model="topic"></select>
    </div>
</div>
<!--
<div class="row">
    <div class="col-xs-12 text-right">
        <button class="btn btn-primary btn-sm"><i class="fa fa-map-marker"></i> Localizar</button>
    </div>
</div>-->
